name: fast_ui_example
publish_to: none
version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  fast_ui:
    path: ../
  fast_rx_shared_preferences:
    path: ../../fast_rx_shared_preferences
  device_preview: ^1.0.0
  url_launcher: ^6.0.18
  font_awesome_flutter: ^10.0.0-beta
  flutter_svg: ^1.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter

  rexios_lints: ^3.0.0

# Override fast packages so we can import fast_ui and use the local versions
dependency_overrides:
  fast_extensions:
    path: ../../fast_extensions
  fast_nav:
    path: ../../fast_nav
  fast_overlays:
    path: ../../fast_overlays
  fast_rx:
    path: ../../fast_rx
  fast_rx_persistence:
    path: ../../fast_rx_persistence

flutter:
  uses-material-design: true

  assets:
    - assets/images/
