name: Test Coverage
on:
  push:
  pull_request:

jobs:
  test-coverage:
    strategy:
      matrix:
        project:
          [
            "fast_extensions",
            "fast_nav",
            "fast_overlays",
            "fast_rx",
            "fast_rx_flutter",
            "fast_rx_persistence",
            "fast_rx_shared_preferences",
          ]
    defaults:
      run:
        working-directory: ${{ matrix.project }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - uses: subosito/flutter-action@v2
      - name: Pub get
        run: flutter pub get
      - name: Test
        run: flutter test --coverage
      - name: Upload report
        uses: codecov/codecov-action@v3
        with:
          flags: ${{ matrix.project }}
